.footer {
    border: 1px solid #fff;
    border-radius: 3.07vw;
    padding: 1.89vh;
    margin-bottom: 1.42vh;
    border-radius: 12px;
    box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.16);

    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.42vh;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.16);
        margin-bottom: 1.06vh;
    }
    &__logo {
        width: 4.73vh;
        height: 4.73vh;
        img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.73vh;
        row-gap: 1.18vh;
        &_link {
            font-family: "Anonymous Pro", monospace;
            font-size: 1.42vh;
            font-weight: 700;
            letter-spacing: 0.24vw;
            text-transform: uppercase;
            color: #e0e0e0;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 16px;
            span {
                width: 8px;
                height: 2px;
                display: block;
                background-color: #e0e0e0;
            }
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.23vh;
    }
    &__robot {
        flex: 0 0 15.87vh;
        height: 13.62vh;
        -moz-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1);
        img {
            display: block;
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    &__infoblock {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .infoblock__item {
            display: flex;
            flex-direction: column;
            color: $white;
            row-gap: 0.855vh;
            &:not(:last-of-type) {
                margin-bottom: 1.89vh;
            }
            &_address,
            &_link {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                column-gap: 0.8vh;
                color: $white;
                font-family: "Roboto", sans-serif;
                font-size: 1.7vh;
                font-weight: 400;
                letter-spacing: 0.237vw;
                svg {
                    font-size: 2vh;
                    width: 2vh;
                    height: 2vh;
                }

            }
            &_link {
                text-decoration: none;
            }
        }
    }
    &__copyright {
        color: #bdbdbd;
        font-family: "Inter", sans-serif;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
}

:lang(am) {
    .footer {
        &__nav {
            &_link {
                font-family: $armenian-primary-font-family;
            }
        }
    }
}