.languages {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1.165px solid #fff;
    border-radius: 0.72vw;
    padding: 1.49vh 0.97vw;
    justify-content: space-between;
    @media screen and (orientation: portrait) {
        padding: 1.42vh 1.89vh;
        border-radius: 1.42vh;
    }
    &__btn {
        font-family: Arial;
        font-size: 0.83vw;
        font-weight: 400;
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: $white;
        cursor: pointer;
        @media screen and (orientation: portrait){
            font-size: 1.65vh;
        }
        &.active {
            font-weight: 700;
            padding-bottom: 0.21vh;
            border-bottom: 1px solid $white;
        }

    }
}
