.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    transition: display 0.4s ease-in-out;
    &.active {
        display: block;
    }
    &__close {
        border: none;
        outline: none;
        background-color: transparent;
        color: $white;
        position: absolute;
        cursor: pointer;
        svg {
            font-size: inherit;
            width: inherit;
            height: inherit;
        }
        @media screen and (orientation: landscape) {
            font-size: 1.25vw;
            width: 1.25vw;
            height: 1.25vw;
            top: 4.27vh;
            right: 2.08vw;
        }
        @media screen and (orientation: portrait) {
            font-size: 1.42vh;
            width: 1.42vh;
            height: 1.42vh;
            top: 1.89vh;
            right: 1.89vh;
        }
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.7);
    }
    &__body {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: fit-content;
        background-color: $main-violet;
        border-radius: 1.66vw;
        padding: 2.08vw 4.27vh;
        box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.16);
        @media screen and (orientation: portrait) {
            width: 91vw;
            height: fit-content;
            padding: 1.89vh;
            border-radius: 1.89vh;
        }
        div {
            display: flex;
            flex-direction: column;
        }
    }
    &__heading {
        color: $white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.66vw;
        font-weight: 900;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
        margin-top: 3.422vh;
        margin-bottom: 1.71vh;
        @media screen and (orientation: portrait) {
            margin-top: 3.31vh;
            font-size: 1.89vh;
            margin-bottom: 0.94vh;
        }
    }
    &__text {
        color: $white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.04vw;
        font-weight: 400;
        width: 75%;
        letter-spacing: 0.13vw;
        margin-bottom: 3.42vh;
        @media screen and (orientation: portrait) {
            font-size: 1.42vh;
            margin-bottom: 1.89vh;
            width: 100%;
        }
    }
    &__cost {
        color: $white;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 3.333vw;
        font-weight: 700;
        letter-spacing: 0.26vw;
        margin-bottom: 0.85vh;
        @media screen and (orientation: portrait) {
            font-size: 3.31vh;
            margin-bottom: 0.35vh;
        }
    }
    &__costfrom {
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 1.25vw;
        font-weight: 700;
        letter-spacing: 0.1vw;
        margin-bottom: 3.42vh;
        @media screen and (orientation: portrait) {
            font-size: 1.18vh;
            margin-bottom: 1.89vh;
        }
    }
    &__btn {
        font-size: 1.66vw;
        width: 77.27%;
        @media screen and (orientation: portrait) {
            font-size: 1.65vh;
            width: 78%;
            padding: 1.18vh;
        }
    }
}

:lang(am) {
    .modal {
        &__heading {
            font-family: $armenian-primary-font-family;
        }
        &__text {
            width: 100%;

        }
    }
}
:lang(ru) {
    .modal {
        &__text {
            width: 100%;
        }
    }
}

