.portfolio {
    width: calc(100% - 240px);
    padding-left: 80px;
    padding-top: 80px;
    padding-bottom: 50px;
    
    @media (max-width: 1620px) {
        padding-top: 40px;
        padding-left: 40px;
    }
    @media (max-width: 992px) {
        width: 100%;
        padding: 0 16px;
    }
    &__heading {
        margin-bottom: 24px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__text {
        margin-bottom: 40px;
        width: 95%;
        @media (max-width: 1024px) {
            width: 90%;
        }
        @media (max-width: 992px) {
            text-align: left;
        }
    }
    &__tabs {
        display: flex;
        gap: 90px;
        @media (max-width: 1024px) {
            gap: 40px;
        }
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 24px;
            margin-bottom: 24px;
        }
        &_menu {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            @media (max-width: 992px) {
                flex-direction: row;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                gap: 24px;
            }
            &.tabs {
                .tab {
                    display: flex;
                    align-items: center;
                    color: $white;
                    opacity: 0.48;
                    @media (max-width: 992px) {
                        flex: 0 0 auto;
                    }
                    &__prefix {
                        margin-right: 16px;
                        width: 16px;
                        height: 1px;
                        background-color: $white;
                        @media (max-width: 992px) {
                            display: none;
                        }
                    }
                    &__btn {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        display: block;
                        font-family: "Anonymous Pro", monospace;
                        font-size: 20px;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: inherit;
                        position: relative;
                        letter-spacing: 1.6px;
                        cursor: pointer;
                        width: 100%;
                        text-align: left;
                        @media (max-width: 992px) {
                            font-size: 16px;
                            letter-spacing: 1.28px;
                        }
                    }
                    &.active {
                        opacity: 1;
                        @media (max-width: 992px) {
                            padding-bottom: 4px;
                            border-bottom: 1px solid $white;
                        }
                        .tab__btn {
                            font-size: 24px;
                            letter-spacing: 1.96px;
                            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                            @media (max-width: 992px) {
                                font-size: 16px;
                                letter-spacing: 1.28px;
                            }
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 32px;
                        @media (max-width: 992px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &_content {
            flex: 1;
            display: grid;
            grid-template-columns: repeat(5, 444px);
            grid-template-rows: repeat(2, 273px);
            gap: 24px;
            overflow-x: scroll;
            height: 100%;
            &::-webkit-scrollbar {
                display: none;
            }
            @media (max-width: 1024px) {
                grid-template-columns: repeat(5, 350px);
                grid-template-rows: repeat(2, 215px);
            }
            @media (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: unset;
                gap: 8px;
            }
            .project {
                background-color: white;
                display: block;
                border-radius: 16px;
                @media (max-width: 992px) {
                    border-radius: 10px;
                }
                &__image {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

:lang(am) {
    .portfolio {
        width: calc(100% - 260px);
        @media (max-width: 992px) {
            width: 100%;
        }
        &__text {
            margin-bottom: 24px;
        }
    }
}
