.portfolio {
    width: 87.5vw;
    padding-top: 1.3vw;
    padding-left: 2.08vw;
    padding-bottom: 5.56vh;
    @media screen and (orientation: landscape) {
        display: flex;
        flex-direction: column;
    }
    @media screen and (orientation: portrait) {
        width: 100%;
        padding: 0 8px;
        margin-bottom: 2.89vh;
    }
    &__heading {
        margin-bottom: 9.1vh;
        @media screen and (orientation: portrait) {
            display: none;
        }
    }
    &__text {
        @media screen and (orientation: landscape) {
            width: 57.135vw;
            font-size: 1.04vw;
            letter-spacing: 0.08vw;
            margin-bottom: 2.88vh;
        }
        @media screen and (orientation: portrait) {
            letter-spacing: 0.28vw;
            margin-bottom: 1.89vh;
        }
    }
    &__tabs {
        display: flex;
        gap: 0 3.125vw;
        @media screen and (orientation: portrait) {
            flex-direction: column;
            gap: 1.84vh 0;
        }
        &_menu {
            display: flex;
            flex-direction: column;
            flex: 0 0 11.09vw;
            @media screen and (orientation: portrait) {
                flex-direction: row;
                flex: unset;
                width: 100%;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                gap: 6.15vw;
            }
            &.tabs {
                .tab {
                    display: flex;
                    align-items: center;
                    color: $white;
                    opacity: 0.48;
                    @media screen and (orientation: portrait) {
                        flex: 0 0 auto;
                    }
                    &__prefix {
                        margin-right: 0.833vw;
                        flex: 0 0 0.833vw;
                        height: 1px;
                        background-color: $white;
                        @media screen and (orientation: portrait) {
                            display: none;
                        }
                    }
                    &__btn {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        display: block;
                        font-family: "Anonymous Pro", monospace;
                        font-size: 1.04vw;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                        color: inherit;
                        position: relative;
                        letter-spacing: 0.08vw;
                        cursor: pointer;
                        width: 100%;
                        text-align: left;
                        @media screen and (orientation: portrait) {
                            font-size: 1.89vh;
                            letter-spacing: 0.32vw;
                        }
                    }
                    &.active {
                        opacity: 1;
                        @media screen and (orientation: portrait) {
                            padding-bottom: 4px;
                            border-bottom: 1px solid $white;
                        }
                        .tab__btn {
                            letter-spacing: 0.1vw;
                            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                            @media screen and (orientation: portrait) {
                                font-size: 1.89vh;
                                letter-spacing: 1.28px;
                            }
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 3.42vh;
                        @media screen and (orientation: portrait) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &_content {
            flex: 1;
            display: grid;
            grid-auto-columns: max-content;
            padding-right: 2.08vw;
            grid-template-columns: repeat(auto-fill, 23.125vw);
            flex-wrap: wrap;
            grid-auto-flow: column;
            grid-template-rows: repeat(2, 32.19vh);
            gap: 1.25vw;
            overflow-x: scroll;
            overflow-y: hidden;
            height: 100%;
            &::-webkit-scrollbar {
                display: none;
            }
            @media screen and (orientation: portrait) {
                grid-template-columns: repeat(2, 1fr);
                grid-auto-flow: unset;
                grid-template-rows: unset;
                gap: 0.94vh;
            }
            .project {
                display: block;
                border-radius: 0.83vw;
                @media screen and (orientation: portrait) {
                    border-radius: 1.18vh;
                    height: 21.32vh;
                }
                &__image {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0.83vw;
                    @media screen and (orientation: portrait) {
                        object-fit: cover;
                        border-radius: 1.18vh;
                    }
                }
            }
        }
    }
}

:lang(am) {
    .portfolio {
        &__heading {
            margin-bottom: 8.2vh;
        }
        &__tabs {
            &_menu {
                flex-basis: 13.8vw;
                &.tabs {
                    .tab {
                        &__btn {
                            font-family: $armenian-primary-font-family;
                        }
                    }
                }
            }
        }
    }
}

:lang(ru) {
    .portfolio {
        &__tabs {
            &_menu {
                flex-basis: 13.8vw;
            }
        }
    }
}
