.services {
    width: calc(100% - 240px);
    padding-top: 80px;
    padding-left: 80px;
    @media (max-width: 1620px) {
        padding-top: 40px;
        padding-left: 40px;
    }
    @media (max-width: 992px) {
        width: 100%;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        margin-top: -12px;
    }
    &__wrapper {
        display: flex;
        position: relative;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__heading {
        margin-bottom: 80px;
        @media (max-width: 1280px) {
            margin-bottom: 64px;
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__options {
        @media (max-width: 992px) {
            margin-bottom: 24px;
            width: 100%;
        }
        &_service {
            display: flex;
            background-color: transparent;
            align-items: center;
            justify-content: space-between;
            outline: none;
            border: none;
            cursor: pointer;
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 48px;
            line-height: 1.15;
            font-weight: 900;
            letter-spacing: 3.84px;
            text-transform: uppercase;
            transition: font-size 0.3s ease-in-out;
            &:not(:last-of-type) {
                margin-bottom: 54px;
            }
            &:hover {
                font-size: 54px;
                letter-spacing: 4.32px;
            }
            @media (max-width: 1280px) {
                font-size: 32px;
                letter-spacing: 2.56px;
                &:not(:last-of-type) {
                    margin-bottom: 54px;
                }
                &:hover {
                    font-size: 40px;
                    letter-spacing: 2.2px;
                }
            }
            @media (max-width: 992px) {
                font-size: 24px;
                letter-spacing: 1.92px;
                border-bottom: 1px solid $light-violet;
                width: 100%;
                text-align: left;
                padding-bottom: 4px;
                &:not(:last-of-type) {
                    margin-bottom: 24px;
                }
                &:hover {
                    font-size: 26px;
                    letter-spacing: 2.2px;
                }
            }
        }
    }
    &__imageblock {
        margin-bottom: 16px;
        position: absolute;
        right: 0;
        margin-top: -90px;
        width: 700px;
        height: 700px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media (max-width: 1620px) {
            width: 630px;
            height: 630px;
        }
        @media (max-width: 1440px) {
            width: 500px;
            height: 500px;
        }
        @media (max-width: 1280px) {
            width: 500px;
            height: 500px;
            margin-top: -32px;
        }
        @media (max-width: 1024px) {
            width: 450px;
            height: 450px;
            position: absolute;
            right: 0;
            top: -20px;
        }
        @media (max-width: 992px) {
            width: 280px;
            height: 280px;
            position: unset;
            margin: 0;
        }
    }
}

:lang(am) {
    .services {
        width: calc(100% - 260px);
        @media (max-width: 992px) {
            width: 100%;
        }
        &__heading {
            font-weight: 700;
        }

        &__options {
            &_service {
                font-weight: 700;
                @media (max-width: 1620px) {
                    font-size: 40px;
                    letter-spacing: 3.2px;
                }
                @media (max-width: 1280px) {
                    font-size: 32px;
                    letter-spacing: 3.2px;
                    &:not(:last-of-type) {
                        margin-bottom: 32px;
                    }
                }
                @media (max-width: 1024px) {
                    text-align: left;
                    &:not(:last-of-type) {
                        margin-bottom: 32px;
                    }
                }
                @media (max-width: 992px) {
                    width: 100%;
                }
                @media (max-width: 600px) {
                    font-size: 20px;
                    letter-spacing: 1.6px;
                }
            }
        }
        &__imageblock {
            @media (max-width: 1280px) {
                width: 480px;
                height: 480px;
            }
            @media (max-width: 1024px) {
                width: 330px;
                height: 330px;
            }
            @media (max-width: 600px) {
                width: 240px;
                height: 240px;
                margin-bottom: 24px;
            }
        }
    }
}

:lang(ru) {
    .services {
        &__options {
            &_service {
                @media (max-width: 1620px) {
                    font-size: 40px;
                    letter-spacing: 3.2px;
                }
                @media (max-width: 1280px) {
                    font-size: 32px;
                    letter-spacing: 1.96px;
                    &:not(:last-of-type) {
                        margin-bottom: 32px;
                    }
                }
                @media (max-width: 1024px) {
                    font-size: 24px;
                    text-align: left;
                    &:not(:last-of-type) {
                        margin-bottom: 24px;
                    }
                }
                @media (max-width: 992px) {
                    width: 100%;
                }
                @media (max-width: 600px) {
                    font-size: 20px;
                    letter-spacing: 1.6px;
                }
            }
        }
        &__imageblock {
            @media (max-width: 1280px) {
                width: 400px;
                height: 400px;
            }
            @media (max-width: 1024px) {
                width: 330px;
                height: 330px;
            }
            @media (max-width: 600px) {
                width: 240px;
                height: 240px;
                margin-bottom: 24px;
            }
        }
    }
}
