.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: $main-violet;
    z-index: 9999;
    height: 100vh;
    width: 12.5vw;
    padding-top: 4.27vh;
    padding-bottom: 5.775vh;
    border-right: 1px solid $light-violet;
    box-shadow: 16px 0px 46px 0px rgba(0, 0, 0, 0.32);
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 10%;
    }

    &__menu {
        padding-left: 1.66vw;
        margin-bottom: 31.44vh;
        &_link {
            display: block;
            font-family: "Anonymous Pro", monospace;
            font-size: 1.04vw;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            position: relative;
            opacity: 0.48;
            letter-spacing: 0.08vw;
            &::before {
                content: "";
                position: absolute;
                width: 0.8333vw;
                height: 1px;
                background-color: $white;
                left: -1.66vw;
                top: 50%;
            }
            &.active {
                opacity: 1;
                font-size: 1.25vw;
                letter-spacing: 1.96px;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }
            &:not(:last-child) {
                margin-bottom: 3.42vh;
            }
        }
    }

    &__logo {
        width: 55%;
        margin-bottom: 9.82vh;
        &_img {
            display: block;
            object-fit: cover;
            width: 100%;
        }
    }
}

:lang(am) {
    .sidebar {
        width: 260px;
        padding-left: 24px;

        &__menu {
            padding-left: 16px;
            &_link {
                font-size: 16px;
                letter-spacing: 0.64px;
                &::before {
                    width: 8px;
                    left: -16px;
                }
                &.active {
                    font-size: 18px;
                    letter-spacing: 0.72px;
                }
            }
        }
    }
}
