.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    background-color: $main-violet;
    z-index: 9999;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 240px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    border-right: 1px solid $light-violet;
    @media (max-width: 1440px) {
        padding-left: 24px;
    }
    @media (max-width: 1280px) {
        padding-top: 24px;
    }
    @media (max-width: 1024px) {
        padding-top: 24px;
    }
    &__menu {
        padding-left: 32px;
        &_link {
            display: block;
            font-family: "Anonymous Pro", monospace;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
            color: $white;
            position: relative;
            opacity: 0.48;
            letter-spacing: 1.6px;
            &::before {
                content: "";
                position: absolute;
                width: 16px;
                height: 1px;
                background-color: $white;
                left: -32px;
                top: 50%;
            }
            &.active {
                opacity: 1;
                font-size: 24px;
                letter-spacing: 1.96px;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
    }

    &__logo {
        margin-bottom: 40px;
        width: 100px;
        @media (max-width: 1280px) {
            margin-bottom: 40px;
        }
        &_img {
            display: block;
            object-fit: cover;
            width: 100%;
        }
    }

}

:lang(am) {
    .sidebar {
        width: 260px;
        padding-left: 24px;

        &__menu {
            padding-left: 16px;
            &_link {
                font-size: 16px;
                letter-spacing: 0.64px;
                &::before {
                    width: 8px;
                    left: -16px;
                }
                &.active {
                    font-size: 18px;
                    letter-spacing: 0.72px;
                }
            }
        }
    }
}
