.social {
    display: grid;
    grid-template-columns: repeat(4, 1.45vw);
    border: 1.165px solid #FFF;
    border-radius: 0.72vw;
    padding: 0.48vw 0.6vw;
    gap: 1.99vh;
    margin-bottom: 2.88vh;
    &__link {
        width: fit-content;
        & > img,
        & > svg {
            width: 1.4vw;
            height: 1.4vw;
            font-size: 1.4vw;
        }
    }
}
