.tos {
    width: 90%;
    flex: 0 0 auto;
    position: relative;
    border-radius: 1.6667vw;
    border: 0.15625vw solid #fff;
    padding: 8.556vh 2.08vw 0 4.16vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 2.13vh;
    }
    &__heading {
        margin-bottom: 3.52vh;
    }

    &__services {
        display: flex;
        flex-direction: column;
        row-gap: 1.71vh;
        width: 100%;
        position: relative;
        height: fit-content;
        &_wrapper {
            display: flex;
            position: relative;
            justify-content: space-between;
        }
        &_shadow {
            position: absolute;
            height: 100%;
            width: 9.635vw;
            right: 0;
            top: 0;
            background: linear-gradient(266deg, #0c0758 16.27%, rgba(12, 7, 88, 0) 104.47%);
        }

        &_icon {
            width: 2.08vw;
            height: 2.08vw;
        }
        &_service {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.83vw;
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 1.66vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.2vw;
            text-transform: uppercase;
            background-color: transparent;
            outline: none;
            border: none;
            &:hover {
                font-size: 2.08vw;
                transition: font-size 0.2s ease-in-out;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
                cursor: pointer;
            }
        }
        &_line {
            width: 2.395vw;
            height: 0.32vh;
            background: rgba(217, 217, 217, 0.2);
            &.second {
                flex: 1;
            }
        }
    }

    &__imageblock {
        z-index: 0;
        flex: 0 0 23.333vw;
        margin-top: -11.727vh;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__infoblock {
        position: relative;
        z-index: 1;
        &_sub {
            margin-bottom: 1.71vh;
        }
        div {
            display: flex;
            align-items: center;
            column-gap: 2.604vw;
        }
        &_text {
            font-size: 0.88vw;
            letter-spacing: 0.03vw;
        }
        &_btn {
            align-self: stretch;
            flex: 0 0 18.177vw;
            font-size: 1.25vw;
        }
    }
}

.tosmobile {
    border: 1px solid #fff;
    border-radius: 3.07vw;
    padding: 1.89vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.84vh;
    &__heading {
        margin-bottom: 2.84vh;
    }

    &__services {
        display: flex;
        flex-direction: column;
        position: relative;
        row-gap: 1.42vh;
        .service {
            display: flex;
            align-items: center;
            column-gap: 1.12vw;
            background-color: transparent;
            border: none;
            outline: none;
            &__icon {
                width: 2.36vh;
                height: 2.36vh;
            }
            &__name {
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-size: 2.13vh;
                text-align: left;
                font-style: normal;
                font-weight: 700;
                line-height: 120%; /* 21.6px */
                letter-spacing: 0.36vw;
                text-transform: uppercase;
                border-bottom: 1px solid #211d65;
                width: 100%;
                &_text {
                    position: relative;
                    padding-inline: 4.1vw;
                    width: fit-content;
                    &::after {
                        position: absolute;
                        z-index: 4;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        bottom: -1px;
                        content: "";
                        filter: blur(0.3px);
                        background: linear-gradient(
                            90deg,
                            rgba(33, 29, 101, 1) 0%,
                            rgba(255, 255, 255, 1) 5%,
                            rgba(255, 255, 255, 1) 96%,
                            rgba(33, 29, 101, 1) 100%
                        );
                    }
                }
            }
        }
        &_gradient {
            position: absolute;
            width: 21.79vw;
            background: linear-gradient(266deg, #0c0758 16.27%, rgba(12, 7, 88, 0) 104.47%);
            height: 100%;
            top: 0;
            right: 0;
        }
    }
    &__imageblock {
        margin-bottom: 2.36vh;
    }
    &__infoblock {
        &_sub {
            margin-bottom: 0.94vh;
        }
        &_text {
            margin-bottom: 2.84vh;
        }
        &_btn {
            width: 100%;
        }
    }
}

:lang(am) {
    .tos {
        &__services {
            &_service {
                font-family: $armenian-primary-font-family;
            }
        }
    }
}
