.tos {
    width: 90%;
    flex: 0 0 auto;
    position: relative;
    border-radius: 1.6667vw;
    border: 0.15625vw solid #fff;
    padding: 8.556vh 2.08vw 0 4.16vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        margin-bottom: 2.13vh;
    }
    &__heading {
        margin-bottom: 3.52vh;
    }

    &__services {
        display: flex;
        flex-direction: column;
        row-gap: 1.71vh;
        width: 100%;
        position: relative;
        height: fit-content;
        &_wrapper {
            display: flex;
            position: relative;
            justify-content: space-between;
        }
        &_shadow {
            position: absolute;
            height: 100%;
            width: 9.635vw;
            right: 0;
            top: 0;
            background: linear-gradient(266deg, #0c0758 16.27%, rgba(12, 7, 88, 0) 104.47%);
        }

        &_icon {
            width: 2.08vw;
            height: 2.08vw;
        }
        &_service {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.83vw;
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 1.66vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.2vw;
            text-transform: uppercase;
            &:hover {
                font-size: 2.08vw;
                transition: font-size .2s ease-in-out;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
                cursor: pointer;
            }
        }
        &_line {
            width: 2.395vw;
            height: 0.32vh;
            background: rgba(217, 217, 217, 0.2);
            &.second {
                flex: 1;
            }
        }
    }

    &__imageblock {
        z-index: 0;
        flex: 0 0 23.333vw;
        margin-top: -11.727vh;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__infoblock {
        position: relative;
        // bottom: 10.9%;
        z-index: 1;
        &_sub {
            margin-bottom: 1.71vh;
        }
        div {
            display: flex;
            align-items: center;
            column-gap: 2.604vw;
        }
        &_text {
            text-align: justify;
            font-size: 0.88vw;
            letter-spacing: 0.03vw
        }
        &_btn {
            align-self: stretch;
            flex: 0 0 18.177vw;
            font-size: 1.25vw;
        }
    }
}

.tosmobile {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    &__heading {
        margin-bottom: 24px;
        width: 55%;
        @media (max-width: 600px) {
            width: 80%;
        }
    }
    &__text {
        width: 85%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    &__imageblock {
        width: 280px;
        img {
            display: block;
            object-fit: contain;
            width: 100%;
        }
    }
    &__btn {
        width: 100%;
        padding: 16px 0;
    }
}

:lang(am),
:lang(ru) {
    .tos {
        &__heading {
            width: 80%;
            margin-bottom: 32px;
            @media (max-width: 1440px) {
                width: 95%;
            }
            @media (max-width: 1280px) {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        &__infoblock {
            margin-bottom: 40px;
            @media (max-width: 1280px) {
                margin-bottom: 24px;
            }
            &_text {
                letter-spacing: 1.2px;
                margin-bottom: 32px;
                @media (max-width: 1620px) {
                    font-size: 20px;
                }
                @media (max-width: 1280px) {
                    letter-spacing: 1.2px;
                    font-size: 15px;
                    margin-bottom: 16px;
                }
            }
            &_btn {
                @media (max-width: 1620px) {
                    padding-inline: 38.5px;
                }
                @media (max-width: 1280px) {
                    padding-block: 16px;
                    font-size: 18px;
                }
            }
        }
        &__services {
            @media (max-width: 1620px) {
                position: absolute;
                bottom: 60px;
                width: 95%;
            }
            @media (max-width: 1440px) {
                bottom: 80px;
            }
            @media (max-width: 1280px) {
                bottom: 32px;
            }
        }
        &__imageblock {
            top: -50%;
            @media (max-width: 1620px) {
                top: -25%;
            }
            @media (max-width: 1440px) {
                top: -15%;
            }
            @media (max-width: 1280px) {
                width: 300px;
                bottom: 0;
                top: unset;
            }
        }
    }
}
