.tos {
    width: 90%;
    flex: 0 0 auto;
    position: relative;
    border-radius: 32px;
    border: 3px solid #fff;
    padding: 4vw 2vw 3vw 4vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    @media (max-width: 1280px) {
        padding: 2vw;
        border-radius: 20px;
    }
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }
    &__heading {
        width: 65%;
        @media (max-width: 1280px) {
            font-size: 2.4vw;
        }
    }
    &__infoblock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3vw;
        z-index: 1;
        // overflow: hidden;
        &_sub {
            margin-bottom: 1vh;
            // font-size: 1.;
        }
        &_text {
            @media (max-width: 1280px) {
                font-size: .8vw;
            }
        }
        &_btn {
            height: fit-content;
            flex: 0 0 auto;
            padding: 2.5vh 5vh;
            font-size: 1.5vw;
            // @media (max-width: 1280px) {
            //     padding: 1.5vh 3vh;
            // }
        }
    }
    &__imageblock {
        z-index: 0;
        width: 25vw;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__services {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 100%;

        &_block {
            display: flex;
            flex-direction: column;
            position: relative;
            height: fit-content;
            gap: 1vh;
            @media (max-width: 1440px) {
            }
            @media (max-width: 1280px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &_wrapper {
            display: flex;
            position: relative;
            justify-content: space-between;
        }
        &_shadow {
            position: absolute;
            height: 100%;
            width: 150px;
            right: 0;
            top: 0;
            background: linear-gradient(266deg, #0c0758 16.27%, rgba(12, 7, 88, 0) 104.47%);
        }

        &_icon {
            width: 40px;
            height: 40px;
            @media (max-width: 1620px) {
                width: 32px;
                height: 32px;
            }
            @media (max-width: 1440px) {
                height: 24px;
                width: 24px;
            }
        }
        &_service {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 16px;
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 1.5vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.2vw;
            text-transform: uppercase;
            @media (max-width: 1620px) {
                font-size: 1.5vw;
            }
            & > &_line:nth-of-type(3) {
                width: 100%;
            }
        }
        &_line {
            width: 40px;
            height: 3px;
            background: rgba(217, 217, 217, 0.2);
            &.second {
                flex: 1;
            }
        }
        &_longline {
            position: absolute;
            right: calc(-100% - 20px);
            bottom: 25%;
        }
    }
}

.tosmobile {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    &__heading {
        margin-bottom: 24px;
        width: 55%;
        @media (max-width: 600px) {
            width: 80%;
        }
    }
    &__text {
        width: 85%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
    &__imageblock {
        width: 280px;
        img {
            display: block;
            object-fit: contain;
            width: 100%;
        }
    }
    &__btn {
        width: 100%;
        padding: 16px 0;
    }
}

:lang(am),
:lang(ru) {
    .tos {
        &__heading {
            width: 80%;
            margin-bottom: 32px;
            @media (max-width: 1440px) {
                width: 95%;
            }
            @media (max-width: 1280px) {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        &__infoblock {
            margin-bottom: 40px;
            @media (max-width: 1280px) {
                margin-bottom: 24px;
            }
            &_text {
                letter-spacing: 1.2px;
                margin-bottom: 32px;
                @media (max-width: 1620px) {
                    font-size: 20px;
                }
                @media (max-width: 1280px) {
                    letter-spacing: 1.2px;
                    font-size: 15px;
                    margin-bottom: 16px;
                }
            }
            &_btn {
                @media (max-width: 1620px) {
                    padding-inline: 38.5px;
                }
                @media (max-width: 1280px) {
                    padding-block: 16px;
                    font-size: 18px;
                }
            }
        }
        &__services {
            @media (max-width: 1620px) {
                position: absolute;
                bottom: 60px;
                width: 95%;
            }
            @media (max-width: 1440px) {
                bottom: 80px;
            }
            @media (max-width: 1280px) {
                bottom: 32px;
            }
        }
        &__imageblock {
            top: -50%;
            @media (max-width: 1620px) {
                top: -25%;
            }
            @media (max-width: 1440px) {
                top: -15%;
            }
            @media (max-width: 1280px) {
                width: 300px;
                bottom: 0;
                top: unset;
            }
        }
    }
}
