.tpartners {
    width: 90%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    border: 0.15625vw solid #fff;
    border-radius: 1.6667vw;
    padding: 8.556vh 0 0 4.16vw;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__infoblock {
        display: flex;
        flex-direction: column;
        flex: 0 0 38.958vw;
        &_heading {
            margin-bottom: 2.56vh;
        }
        &_text {
            font-size: 1.04vw;
            text-align: justify;
            letter-spacing: 0.083vw;
            margin-bottom: 4.919vh;
        }
    }
    &__partners {
        border: 0.15625vw solid #fff;
        border-radius: 0.83vw;
        padding: 0.98vw;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__imageblock {
        flex: 0 0 33.4375vw;
        height: 33.4375vw;
        margin-top: -5vh;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.partnersmobile {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &__heading {
        margin-bottom: 24px;
    }
    &__body {
        display: flex;
        align-items: center;
        &_left {
            width: 100%;
            .imageblock {
                display: none;
                @media (max-width: 600px) {
                    display: block;
                    width: 100%;
                    height: 270px;
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    &__text {
        margin-bottom: 16px;
        text-align: left;
    }
    &__imageblock {
        width: 70%;
        margin-bottom: 16px;
        height: 270px;
        @media (max-width: 600px) {
            display: none;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__partners {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        width: 100%;
        gap: 20px;
        &_logo {
            width: 100%;
            height: 60px;
            img {
                display: block;
                object-fit: contain;
                width: 100%;
                height: inherit;
            }
        }
    }
}

:lang(am) {
    .tpartners {
        &__partners {
            @media (max-width: 1620px) {
                gap: 24px;
            }
            @media (max-width: 1280px) {
                gap: 24px 80px;
            }
            @media (max-width: 1024px) {
                gap: 16px;
                flex-direction: column;
            }
        }
        &__infoblock {
            &_heading {
                @media (max-width: 1440px) {
                    font-size: 47px;
                    letter-spacing: 1.5px;
                }
                @media (max-width: 1280px) {
                    font-size: 31px !important;
                    letter-spacing: 1.4px !important;
                }
            }
            &_text {
                @media (max-width: 1620px) {
                    font-size: 20px;
                }
                @media (max-width: 1440px) {
                    width: 70%;
                }
                @media (max-width: 1280px) {
                    font-size: 15px;
                    letter-spacing: 1.2px;
                }
            }
        }
        &__imageblock {
            @media (max-width: 1440px) {
                width: 540px;
                top: unset;
                right: -40px;
                bottom: 40px;
            }
            @media (max-width: 1280px) {
                width: 400px;
                height: 400px;
            }
        }
    }
}
