.tpartners {
    width: 90%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    border: 0.15625vw solid #fff;
    border-radius: 1.6667vw;
    padding: 8.556vh 0 0 4.16vw;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__infoblock {
        display: flex;
        flex-direction: column;
        flex: 0 0 38.958vw;
        &_heading {
            margin-bottom: 2.56vh;
        }
        &_text {
            font-size: 1.04vw;
            letter-spacing: 0.083vw;
            margin-bottom: 4.919vh;
        }
    }
    &__partners {
        border: 0.15625vw solid #fff;
        border-radius: 0.83vw;
        padding: 0.98vw;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__imageblock {
        flex: 0 0 31.4375vw;
        height: 31.4375vw;
        margin-top: -5vh;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.partnersmobile {
    border: 1px solid #fff;
    border-radius: 3.07vw;
    padding: 1.89vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.84vh;
    &__heading {
        margin-bottom: 1.89vh;
    }
    &__text {
        letter-spacing: 0.28vw;
    }
    &__imageblock {
        margin-bottom: 1vh;
    }
    &__partners {
        border: 1px solid #fff;
        width: 100%;
        padding: 1vh;
        border-radius: 1vh;
        img {
            display: block;
            object-fit: contain;
            width: 100%;
        }
    }
}

:lang(am) {
    .tpartners {
        &__infoblock {
            &_text {
                font-size: 0.9375vw;
                margin-bottom: 4.5vh;
            }
        }
    }
    .partnersmobile {
        &__heading {
            letter-spacing: 0.4vw;
        }
    }
}
