@import "styles/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    height: 100vh;
}

body {
    background-color: $main-violet;
    height: 100vh;
    overflow: hidden;
}

.gen-wrapper {
    @media (min-width: 993px) {
        display: flex;
        position: relative;
    }
}

.heading {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-size: 3vh;
    line-height: 113px;
    font-weight: 900;
    letter-spacing: 7.68px;
    text-transform: uppercase;
    @media (max-width: 1280px) {
        font-size: 1.5vh;
        letter-spacing: 5.12px;
        line-height: normal;
    }
    @media (max-width: 992px) {
        text-align: center;
        font-size: 24px;
        letter-spacing: 1.92px;
    }
}

.heading2 {
    color: $white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    line-height: normal;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.2vw;
    @media (max-width: 992px) {
        text-align: center;
        font-size: 24px;
        letter-spacing: 2.4px;
    }
}

.text {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: normal;

    font-size: .9vw;
    letter-spacing: .05vw;
    text-align: left;
}

.sub1 {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.13vw;
    text-transform: uppercase;
}

.sub2 {
    color: $white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.92px;
    font-weight: 700;
    @media (max-width: 1280px) {
        font-size: 20px;
        letter-spacing: 1.6px;
    }
    @media (max-width: 992px) {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1.44px;
    }
}

.primary-btn {
    border: none;
    background-color: $white;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    color: $dark-violet;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.25vw 1.66vw;
    font-size: 1.25vw;
    border-radius: 0.833vw;
}

@import "styles/sidebar";
@import "styles/timeline";
@import "styles/timelineourservices";
@import "styles/timelinewcs";
@import "styles/timelinepartners";
@import "styles/timelinecontacts";
@import "styles/modal";
@import "styles/aboutus";
@import "styles/portfolio";
@import "styles/contacts";
@import "styles/header";
@import "styles/footer";
@import "styles/socials";
@import "styles/languages";

:lang(am) {
    * {
        font-family: "Arial", sans-serif !important;
    }

    .heading {
        font-weight: 700;
        @media (max-width: 1620px) {
            font-size: 64px;
            line-height: normal;
            letter-spacing: 5.12px;
        }
        @media (max-width: 1280px) {
            font-size: 40px;
            line-height: normal;
            letter-spacing: 3.2px;
        }
        @media (max-width: 992px) {
            font-size: 32px;
            letter-spacing: 1.4px;
        }
        @media (max-width: 600px) {
            font-size: 20px;
            letter-spacing: 0.8px;
        }
    }
    .heading2 {
        font-weight: 700;
        @media (max-width: 1280px) {
            font-size: 32px;
            letter-spacing: 2.56px;
        }
        @media (max-width: 992px) {
            font-size: 24px;
            letter-spacing: 2.4px;
        }
    }
}

:lang(ru) {
    .heading {
        font-weight: 700;
        @media (max-width: 1620px) {
            font-size: 64px;
            line-height: normal;
            letter-spacing: 5.12px;
        }
        @media (max-width: 1280px) {
            font-size: 40px;
            line-height: normal;
            letter-spacing: 3.2px;
        }
        @media (max-width: 992px) {
            font-size: 32px;
            letter-spacing: 1.4px;
        }
        @media (max-width: 600px) {
            font-size: 20px;
            letter-spacing: 0.8px;
        }
    }
}
