@import "styles/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    height: 100vh;
}

body {
    background-color: $main-violet;
    height: 100vh;
    overflow: hidden;
    @media screen and (orientation: portrait) {
        overflow-y: auto;
    }
}

.gen-wrapper {
    @media screen and (orientation: landscape) {
        display: flex;
        position: relative;
    }
    @media screen and (orientation: portrait) {
        margin-inline: 8px;
    }
}

.heading {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-size: 5vw;
    line-height: normal;
    font-weight: 900;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
}

.heading2 {
    color: $white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    line-height: normal;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.2vw;
    @media screen and (orientation: portrait) {
        font-size: 3.55vh;
        letter-spacing: 0.61vw;
    }
}

.text {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: normal;
    font-size: 1.04vw;
    letter-spacing: 0.08vw;
    text-align: justify;
    @media screen and (orientation: portrait) {
        font-size: 1.65vh;
        letter-spacing: normal;
        line-height: 1.2;
    }
}

.sub1 {
    color: $white;
    font-family: "Roboto", sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.13vw;
    text-transform: uppercase;
    @media screen and (orientation: portrait) {
        font-size: 2.36vh;
        letter-spacing: 0.41vw;
    }
}

.sub2 {
    color: $white;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 1.25vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
    @media screen and (orientation: portrait) {
        font-size: 2.13vh;
        letter-spacing: 0.17vw;
    }
}

.primary-btn {
    border: none;
    background-color: $white;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    color: $dark-violet;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.25vw 1.66vw;
    font-size: 1.25vw;
    border-radius: 0.833vw;
    @media screen and (orientation: portrait) {
        font-size: 2.36vh;
        letter-spacing: normal;
        padding: 1.89vh 3.79vh;
        border-radius: 1.18vh;
    }
}

@import "styles/sidebar";
@import "styles/timeline";
@import "styles/timelineourservices";
@import "styles/timelinewcs";
@import "styles/timelinepartners";
@import "styles/modal";
@import "styles/imagewlines";
@import "styles/aboutus";
@import "styles/portfolio";
@import "styles/contacts";
@import "styles/header";
@import "styles/footer";
@import "styles/socials";
@import "styles/languages";

:lang(am) {
    * {
        font-family: "Arial", sans-serif !important;
    }
}
